html, body {
	  width: 400px;
}

.result-log {
	color: #00FF00;
}

.popup-content {
}

.hidden {
	  display: none;
}

.button {
	  margin: 3% auto;
	  padding: 4px;
	  text-align: center;
	  font-size: 1.5em;
	  cursor: pointer;
}

.reset {
	  background-color: #FBFBC9;
}

.reset:hover {
	  background-color: #EAEA9D;
}

